/**index */
* {
  transition: 0.6s all;
  max-width: 100vw;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  background-color: #222222;
  max-width: 100vw;
  min-height: 100vh;
}

nav {
  background-color: #191919;
}
nav ul {
  list-style: none;
  height: 10vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  margin: 0;
}
nav ul li {
  display: flex;
  align-items: center;
}
nav ul li button {
  color: white;
  height: 80%;
  background-color: transparent;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  transition: all 0.5s;
}
nav ul li button:focus {
  color: none;
  background-color: blue;
}
nav ul li button:hover {
  border: goldenrod 2px solid;
  border-radius: 4px;
  color: goldenrod;
  transition: all 0.5s;
}

.cartaPokemon {
  box-sizing: content-box;
  margin: 0 auto;
  display: grid;
  background: #191919;
  max-width: 90%;
  width: auto;
  height: auto;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, auto);
  overflow: hidden;
  box-shadow: 4px 4px 7px black;
  cursor: pointer;
  grid-template-areas: "nombre nombre nombre nombre id" "imagen imagen imagen imagen imagen" "imagen imagen imagen imagen imagen" "imagen imagen imagen imagen imagen" "imagen imagen imagen imagen imagen" "imagen imagen imagen imagen imagen";
}
.cartaPokemon:hover {
  box-shadow: 7px 7px 7px black;
  margin-bottom: 3%;
}
.cartaPokemon .nombrePokemon {
  margin: 0 0 0 0;
  font-size: small;
  color: white;
  grid-area: nombre;
  display: block;
  width: auto;
  height: 100%;
  text-align: center;
}
.cartaPokemon .idPokemon {
  margin: 0 0 0 0;
  font-size: small;
  height: 100%;
  grid-area: id;
  color: white;
  background-color: transparent;
  display: block;
  width: auto;
  text-align: center;
}
.cartaPokemon img {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  grid-area: imagen;
}

.listaPokemons {
  padding: 0;
  margin-top: 6%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  list-style: none;
  gap: 5px;
  row-gap: 40px;
  grid-auto-rows: 120px;
}

main {
  display: block;
  height: auto;
}

.botones {
  display: flex;
  width: 100%;
  margin: 6% 0;
  align-items: center;
}
.botones button {
  border-radius: 4px;
  outline: none;
  margin: auto 20%;
  width: 50%;
  border: 2px solid;
  background: transparent;
  color: white;
}
.botones .siguiente {
  background-color: crimson;
  color: white;
  border: crimson 2px solid;
}
.botones .anterior {
  background-color: blue;
  color: white;
  border: blue 2px solid;
}
.botones .true {
  background-color: goldenrod;
  border: 2px solid goldenrod;
}
.botones .false {
  background-color: transparent;
  border: 2px solid goldenrod;
  color: goldenrod;
}

@media screen and (max-width: 780px) {
  .listaPokemons {
    box-sizing: content-box;
    margin-bottom: 17%;
    padding-bottom: 14%;
    grid-template-columns: 1fr 1fr;
    padding: 8%;
    overflow: scroll;
    max-height: 90vh;
  }

  .botones {
    height: min-content;
    margin: 0;
    position: fixed;
  }
  .botones button {
    margin: auto 0;
  }
}
#MenuTipo {
  transition: 1s all;
  position: fixed;
  right: 0;
  width: 0%;
  height: 0%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  align-items: center;
}
#MenuTipo .menuTipoInterno {
  overflow: hidden;
  z-index: 10;
  border: gold 3px solid;
  border-radius: 15px;
  padding: 6%;
  width: 35%;
  height: auto;
  margin: 6% auto;
  display: block;
  background-color: black;
}
#MenuTipo .menuTipoInterno .contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#MenuTipo .menuTipoInterno button {
  margin: 3px auto;
  background: transparent;
  border: none;
  display: block;
  width: 80%;
  padding-bottom: 2px;
  transition: 0.4s;
  border-radius: 3%;
}
#MenuTipo .menuTipoInterno .electrico {
  color: gray;
  background-color: yellow;
  border: 2px solid yellow;
}
#MenuTipo .menuTipoInterno .electrico:hover {
  background-color: transparent;
  color: yellow;
  border: 2px solid yellow;
}
#MenuTipo .menuTipoInterno .fuego {
  color: white;
  border: 2px solid orange;
  background-color: orange;
}
#MenuTipo .menuTipoInterno .fuego:hover {
  background-color: transparent;
  color: orange;
  border: 2px solid orange;
}
#MenuTipo .menuTipoInterno .dragon {
  color: white;
  border: 2px solid #2153bf;
  background-color: #2153bf;
}
#MenuTipo .menuTipoInterno .dragon:hover {
  background-color: transparent;
  color: #2153bf;
  border: 2px solid #2153bf;
}
#MenuTipo .menuTipoInterno .agua {
  color: white;
  border: 2px solid blue;
  background-color: blue;
}
#MenuTipo .menuTipoInterno .agua:hover {
  background-color: transparent;
  color: blue;
  border: 2px solid blue;
}
#MenuTipo .menuTipoInterno .volador {
  color: white;
  background-color: deepskyblue;
  border: 2px solid deepskyblue;
}
#MenuTipo .menuTipoInterno .volador:hover {
  background-color: transparent;
  color: deepskyblue;
  border: 2px solid deepskyblue;
}
#MenuTipo .menuTipoInterno .planta {
  color: white;
  background-color: #0af775;
  border: 2px solid #0af775;
}
#MenuTipo .menuTipoInterno .planta:hover {
  background-color: transparent;
  color: #0af775;
  border: 2px solid #0af775;
}
#MenuTipo .menuTipoInterno .insecto {
  color: white;
  border: 2px solid #7dc902;
  background-color: #7dc902;
}
#MenuTipo .menuTipoInterno .insecto:hover {
  color: #7dc902;
  border: 2px solid #7dc902;
  background-color: transparent;
}
#MenuTipo .menuTipoInterno .normal {
  color: white;
  border: 2px solid gray;
  background-color: gray;
}
#MenuTipo .menuTipoInterno .normal:hover {
  background-color: transparent;
  color: gray;
  border: 2px solid gray;
}
#MenuTipo .menuTipoInterno .veneno {
  background-color: #980af7;
  color: white;
  border: 2px solid #980af7;
}
#MenuTipo .menuTipoInterno .veneno:hover {
  color: #980af7;
  background-color: transparent;
  border: 2px solid #980af7;
}
#MenuTipo .menuTipoInterno .tierra {
  color: white;
  background-color: #b3773b;
  border: 2px solid #b3773b;
}
#MenuTipo .menuTipoInterno .tierra:hover {
  background-color: transparent;
  color: #b3773b;
  border: 2px solid #b3773b;
}
#MenuTipo .menuTipoInterno .roca {
  color: white;
  background-color: #949370;
  border: 2px solid #949370;
}
#MenuTipo .menuTipoInterno .roca:hover {
  background-color: transparent;
  color: #949370;
  border: 2px solid #949370;
}
#MenuTipo .menuTipoInterno .hada {
  background-color: #ffaaea;
  color: white;
  border: 2px solid #ffaaea;
}
#MenuTipo .menuTipoInterno .hada:hover {
  background-color: transparent;
  color: #ffaaea;
  border: 2px solid #ffaaea;
}
#MenuTipo .menuTipoInterno .siniestro {
  background-color: #161616;
  color: white;
  border: 2px solid #161616;
}
#MenuTipo .menuTipoInterno .siniestro:hover {
  background-color: transparent;
  color: #161616;
  border: 2px solid #161616;
}
#MenuTipo .menuTipoInterno .psiquico {
  background-color: #ff03d1;
  color: white;
  border: 2px solid #ff03d1;
}
#MenuTipo .menuTipoInterno .psiquico:hover {
  background-color: transparent;
  color: #ff03d1;
  border: 2px solid #ff03d1;
}
#MenuTipo .menuTipoInterno .lucha {
  color: white;
  background-color: #ff171f;
  border: 2px solid #ff171f;
}
#MenuTipo .menuTipoInterno .lucha:hover {
  background-color: transparent;
  color: #ff171f;
  border: 2px solid #ff171f;
}
#MenuTipo .menuTipoInterno .fantasma {
  color: white;
  background-color: #1a2a4d;
  border: #1a2a4d;
}
#MenuTipo .menuTipoInterno .fantasma:hover {
  background-color: transparent;
  color: #1a2a4d;
  border: #1a2a4d;
}
#MenuTipo .menuTipoInterno .hielo {
  color: white;
  background-color: #00f2ea;
  border: 2px solid #00f2ea;
}
#MenuTipo .menuTipoInterno .hielo:hover {
  background-color: transparent;
  color: #00f2ea;
  border: 2px solid #00f2ea;
}
#MenuTipo .menuTipoInterno .acero {
  color: white;
  background-color: #003238;
  border: 2px solid #003238;
}
#MenuTipo .menuTipoInterno .acero:hover {
  background-color: transparent;
  color: #003238;
  border: 2px solid #003238;
}

@media screen and (max-width: 780px) {
  #MenuTipo {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
  #MenuTipo .menuTipoInterno {
    width: 80%;
  }
  #MenuTipo .menuTipoInterno .contenedor {
    grid-template-columns: 1fr 1fr;
  }
}
.pokemon {
  width: 50%;
  background-color: #252525;
  border-radius: 5px;
  margin: 7% auto;
  box-shadow: 8px 8px 8px black;
}
.pokemon * {
  outline: none;
  text-transform: capitalize;
  list-style: none;
}
.pokemon .opciones {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.pokemon .opciones button {
  box-sizing: initial;
  outline: none;
}
.pokemon .opciones .atras {
  border: 3px solid crimson;
  background-color: crimson;
  color: white;
}
.pokemon .opciones .atras:hover {
  box-shadow: 0 3px 3px crimson;
}
.pokemon .opciones .adelante {
  border: 3px solid #4BB543;
  background-color: #4BB543;
  color: white;
}
.pokemon .opciones .adelante:hover {
  box-shadow: 0 3px 3px #4BB543;
}
.pokemon .opciones .shiny {
  border: 3px solid goldenrod;
  background-color: goldenrod;
  color: white;
}
.pokemon .opciones .shiny:hover {
  box-shadow: 0 3px 3px goldenrod;
}
.pokemon h1 {
  margin-bottom: 0;
  text-align: center;
  text-transform: capitalize;
}
.pokemon .contenidoPokemon {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr;
  color: white;
  text-align: center;
}
.pokemon .contenidoPokemon .imagenPokemon {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
.pokemon .contenidoPokemon .descripcion {
  margin-bottom: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pokemon .contenidoPokemon .descripcion span {
  font-size: small;
  text-align: center;
  margin: auto 0;
  color: white;
  display: block;
}
.pokemon .contenidoPokemon .descripcion ul {
  display: block;
}
.pokemon .contenidoPokemon div h2,
.pokemon .contenidoPokemon div h3,
.pokemon .contenidoPokemon div h4 {
  text-align: center;
  color: white;
  font-size: small;
}
.pokemon .contenidoPokemon div ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pokemon .contenidoPokemon div ul li {
  font-size: 10px;
  color: white;
}

@media screen and (max-width: 780px) {
  .pokemon {
    width: 100%;
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
