@mixin PokemonCard {

    .cartaPokemon{
        box-sizing: content-box;
        margin: 0 auto;
        display: grid;
        background: #191919;
        max-width: 96px;
        max-height: 120px;
        width: auto;
        height: auto;
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: repeat(5,auto);
        overflow: hidden;
        box-shadow: 4px 4px 7px black;
        cursor:pointer;
        grid-template-areas:
                     "nombre nombre nombre nombre id"
                     "imagen imagen imagen imagen imagen"
                    "imagen imagen imagen imagen imagen"
                    "imagen imagen imagen imagen imagen"
                    "imagen imagen imagen imagen imagen"
                    "imagen imagen imagen imagen imagen";
        &:hover{
            box-shadow: 7px 7px 7px black;

        }

        .nombrePokemon{
            margin: 0 0 0 0;
            font-size: small;
            color: white;
            grid-area: nombre;
            display: block;
            width: auto;
            height: 100%;
            text-align: center;
        }
        .idPokemon{
            margin: 0 0 0 0;
            font-size: small;
            height: 100%;

            grid-area: id;
            color: white;
            background-color: transparent;
            display: block;
            width: auto;
            text-align: center;

        }
        img{
            margin-top:auto;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: auto;
          
            grid-area: imagen;
        }
    }
    
    
}