/**index */
@import "Nav.scss";
@import "PokemonCard.scss";
@import "Pokemons.scss";
@import "MenuTipo.scss";
@import "Pokemon.scss";
@import "EncuentroAleatorio.scss";
@import "PokemonSalvaje.scss";
@import "Iniciacion.scss";
@import "Bautizo.scss";



* {
    transition: .6s all;
    
    max-width: 100vw;
    margin: 0;
    text-transform: capitalize;

    ::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: gold;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: crimson;
        border-radius: 20px;
      }
      
      
    
}

body {
    display: block;
    background-color: #222222;
    max-width: 100vw;
    min-height: 100vh;
    main{
        display: block;

        height: auto;
    }
    #root{
        max-height: 100%;
        display: grid;
        grid-template-rows: 10vh minmax(90vh,auto);


    }
    
    
}
@include Bautizo;
@include Iniciacion;
@include Nav;
@include PokemonCard;
@include Pokemons;
@include MenuTipo;
@include Pokemon;
@include EncuentroAleatorio;
@include PokemonSalvaje;


